html {
    margin: 0;
    padding: 0;
    min-width: 75vh;
    min-height: 75vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid rgb(21, 113, 243);
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 70px;
    margin-top: 0;
}

form {
    margin-bottom: 10px;
}

/* changes the score section */
body header section {
    padding: 20px;
}


.timeLeft {
    /* padding: 20px; */
    color: rgb(11, 105, 139);
}

.back, .backButton {
    font-size: 18px;
    padding: 20px;
}

.startBox {
    display: flex;
    margin: 20px;
    justify-content: center;
    font-size: 30px;
}

.question-box {
    display: flex;
    flex-direction: column;
}

#scoreCorrect{
    color: rgb(5, 109, 35);
    margin-right: 30px;
}

#scoreWrong{
    color: rgb(130, 14, 14);
}

#videoBox {
    /* aligning video to the center of the box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* setting the boxes minimum width and height */
    min-width: 50vh;
    min-height: 30vh;
    background-color: rgb(149, 193, 237);
}

#conditionalTextBox {
    display: flex;
    justify-content: center;
    align-items: center;
}