html {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0.25turn, #e66465,#9198e5); 
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    min-width: 100%;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    margin: 70px;
    margin-top: 0;
}

form {
    margin-bottom: 10px;
}

header, main, footer {
    background-color: #2d2d5c; 
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: solid 5px #28284b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* changes the score section */
body header section {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.timeLeft {
    /* padding: 20px; */
    transform: translateX(-40px);
    color: rgb(244, 108, 108);
}

.startBox {
    display: flex;
    margin: 20px;
    justify-content: center;
    font-size: 30px;
}

/* controls top back button */
#backButton {
    font-size: 20px;
}

/* this controls the size of the buttons */
#startId, #submit {
    font-size: 25px;
    padding: 2px 28px;
}

#submit {
    margin-top: 10px;
}

#questions input {
    margin: 5px;
}

#questions {
    font-size: 20px;
    margin-bottom: 15px;
}

#selectionTitle {
    color: rgb(209, 208, 208);
    font-size: 30px;
}

#scoreCorrect{
    color: rgb(8, 155, 50);
    margin-right: 30px;
}

#scoreWrong{
    color: rgb(178, 21, 21);
}

#videoBox {
    /* aligning video to the center of the box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* setting the boxes minimum width and height */
    background-color: #413d7b;
}

#conditionalTextBox {
    color: rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*change elements when the screen is smaller to support different Devices */
@media (max-width: 690px) {

    html {
        max-width:  690px;
    }

    header, main, footer {
        padding: 10px;
    }
    
    img {
        /*change the image sizing */
        max-width: 80%;
        width: auto\9;
        height: auto;
    }

    iframe {
        /*change the video sizing */
        max-width: 80%;
        width: auto\9;
        height: auto;
    }

    h4 {
        font-size: 17px;
    }

    .scoreInfo {
        font-size: 15px;
    }

    .timeLeft {
        font-size: 18px;
        transform: translateX(0);
    }
    
    #videoBox {
        min-width: 0;
        min-height: 0;
    }

    #submitId, #submit, #backButton {
        font-size: 15px;
        padding: 2px;
        margin: 0;
    }

    #startId {
        font-size: 18px;
        padding: 0 5px;
    }

    #selectionTitle {
        font-size: 18px;
    }

    #questions {
        color: rgb(170, 170, 170);
        font-size: 15px;
        margin: 15px 0;
    } 

    #conditionalTextBox {
        font-size: 24px;
    }
}
